span{
    color: blue;
}

h1{
    font-size: 100px;
    color: khaki;
    background-image: url("images/pattern.webp");
    text-align: center;
}

h1, h2, span{
    font-family: Helvetica;
    font-weight: bold;
}

h2{
    font-size: 32px;
    color: white;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}